body {
  background-color: #171c28;
  color: #fff;
  line-height: 1.5;
}

html {
    padding-bottom: 100px;
    height: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: none;
    background-color: #171c28;
    color: var(--font-color);
    top: 150px;
    line-height: 1.5;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
/* 
 :root {

    --font-color: #0f0f0f;
    --bg-color: #fefefe;

}


[data-theme="dark"] {

    --font-color: #fefefe;
    --bg-color: #171c28;
}

.switch {
    height: 100px;
    position: fixed;
    right: 50px;
    top: 20px;
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #171c28;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

.intro {

padding: 80px;
box-sizing: inherit;
height: 100vh;
}

.intro_hello {
  font-weight: 500;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
.intro {
    padding: 70px 50px;
    text-align: center;
}
}
@media screen and (max-width: 550px) {
.intro {
    padding: 120px 50px;
}
}
@media screen and (max-width: 630px) {
.intro {
    padding: 120px 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}
}
.intro-something {
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 700px;
}

.name {
    font-weight: 700;
}

/* .background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.wave-emoji-animation {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  ul {
    list-style-type: none;
  }
  
  .section-title {
    width: 150px;
    text-align: right;
    text-transform: uppercase;
    color: #007bff;
    font-weight: 700;
    letter-spacing: 2px;

  }

.section-content {
  max-width: 650px;
}

.a-section {
  padding: 100px 170px;
  display: flex;
  justify-content: center;
  margin: 5px;
}

@media screen and (max-width: 768px) {
.a-section {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
.a-section {
    padding: 50px;
  }
}

@media screen and (max-width: 1280px) {
.a-section {
    padding: 100px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.link-arrow i {
  color: #007bff;
  display: inline-block;
  transition: 0.2s ease-in-out;
}

.link-arrow:hover i {
  transform: translateX(50%);
}

.project-desc {
  font-size: .9rem;
  margin-bottom: 20px;
}

.smaller-button {
  height: 4vh;
}

.container {

  height: 10vh;
  
  padding: 0;
  align-items: center;
}

.link {
  height: 70px;
  width: 70px;

  
  text-align: left;
  margin-right: 20px;
  line-height: 80px;
}

a i {
  transition: all 0.3s linear;
}

a:hover i {
  transform: scale(1.2);
}

@media (max-width: 400px) {
  .actual-section-content {
    display: block;
  }
}